<h3>Todos List</h3>

<app-streak-widget [streak]="streakCount()" />

<div class="counters-and-filters">

  <div class="filters">
    <form (submit)="addTodoItem(); $event.preventDefault()">
      <label for="additem">Add Todo</label>
      <input [(ngModel)]="newTodoItemTitle" name="newTodoTitle" placeholder="Type here the todo" required id="additem" />
      <button type="submit">Add</button>
    </form>

    <form>
      <label for="filteritem">Filter Todos</label>
      <input name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search todos..." id="filteritem"/>
    </form>

    <form>
      <label for="filterstatus">Filter Status</label>
      <select [(ngModel)]="filterStatus" name="filterStatus" id="filterstatus">
        <option value="all">All</option>
        <option value="ongoing">Ongoing</option>
        <option value="completed">Completed</option>
      </select>
    </form>
  </div>

  <div class="counters">
    <div class="completed-counter">✅ Completed Todos: {{ completedCount() }}</div>
    <div class="ongoing-counter">⏱️ Ongoing Todos: {{ ongoingCount() }}</div>
  </div>
</div>

@if (!todoItems().length) {
<p>Loading...</p>
}

<ul class="todos">
  @for (todo of todoItems() | searchTodos : searchTerm() | filterCompletedTodos : filterStatus(); track todo.id) {
  <app-todo-item [todo]="todo" (todoToggled)="updateTodoItem($event)" (deleteTodoItem)="deleteTodoItem($event)"
    (todoEdited)="saveEditedTodo($event)" (toggleEditing)="toggleTodoEditing($event)" />
  }
</ul>