<li appHighlightCompletedTodo [isCompleted]="todo().completed" class="todo__item">
  <input id="todo-{{ todo().id }}" type="checkbox" [checked]="todo().completed" (change)="todoClicked()" />

  <!-- View mode -->
  @if (!todo().isEditing) {
    <label for="todo-{{ todo().id }}">
      {{ todo().title | uppercase }}
    </label>
  }

  <!-- Edit mode -->
  @if (todo().isEditing) {
    <input [(ngModel)]="todo().title" (blur)="onEditFinish()" (keydown.enter)="onEditFinish()"
      class="todo__edit-input" autofocus />
  }

  <!-- Edit button only if not editing -->
  @if (!todo().isEditing) {
    <button (click)="onEditClick()" class="edit-btn" title="Edit">
      ✏️
    </button>
  }

  <!-- Delete button only if not editing -->
  @if (!todo().isEditing) {
    <button (click)="deleteTodo()" class="delete-btn" title="Delete">
      🗑️
    </button>
  }
</li>